---
import BecomeProviderBanner from "../components/BecomeProviderBanner.astro";
import Categories from "../components/Categories.astro";
import Hero from "../components/Hero.astro";
import HowToOrder from "../components/HowToOrder.astro";
import StoreGuarantees from "../components/StoreGuarantees.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <HowToOrder />
    <Categories />
    <BecomeProviderBanner />
    <StoreGuarantees />
  </main>
</Layout>
